<%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
    
    <div class="mb-3">
    <p>
      <%= form.label :commenter %><br>
      <%= form.text_field :commenter %>
    </p>
  </div> 
  <div class="mb-3">
    <p>
      <%= form.label :body, class:"form-label" %><br>
      <%= form.text_area :body, class:"form-control text-justify", style:"height: 100px" %>
    </p>
   </div>
   <div class="mb-1">
    <p class="mb-3">
      <%= form.submit%>
    </p>
   </div>
  <% end %>