<div class="mt-5 shadow-lg p-3 mb-5 bg-white rounded">
    <h1 class="text-uppercase"><%= @article.title %></h1>
</div> 
    <p>
            <strong class="lead">Content:</strong>
            
    </p>
<div class="mt-5 shadow-lg p-3 mb-5 bg-white rounded">
    
        <p class="text-justify">           
            <%= @article.text %>
        </p>
</div>


<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_article_path(@article), class:"mb-5 mr-2 btn btn-info" %> 
<%= link_to 'Back', articles_path, class:"mb-5 btn btn-warning" %>
</div>